In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import numpy as np

In [3]:
import seaborn as sns
sns.set(style="darkgrid")

In [4]:
from sklearn import datasets, linear_model

In [5]:
from sklearn.datasets import make_regression

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
import sklearn

In [9]:
df= pd.read_csv("crx.csv")

In [10]:
df.columns = [ "A" + str(i) for i in range (16)]

In [11]:
df

    A0     A1      A2 A3 A4  A5  A6    A7 A8 A9  A10 A11 A12    A13  A14 A15
0    a  58.67   4.460  u  g   q   h  3.04  t  t    6   f   g  00043  560   +
1    a  24.50   0.500  u  g   q   h  1.50  t  f    0   f   g  00280  824   +
2    b  27.83   1.540  u  g   w   v  3.75  t  t    5   t   g  00100    3   +
3    b  20.17   5.625  u  g   w   v  1.71  t  f    0   f   s  00120    0   +
4    b  32.08   4.000  u  g   m   v  2.50  t  f    0   t   g  00360    0   +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  ...  ..  ..    ...  ...  ..
684  b  21.08  10.085  y  p   e   h  1.25  f  f    0   f   g  00260    0   -
685  a  22.67   0.750  u  g   c   v  2.00  f  t    2   t   g  00200  394   -
686  a  25.25  13.500  y  p  ff  ff  2.00  f  t    1   t   g  00200    1   -
687  b  17.92   0.205  u  g  aa   v  0.04  f  f    0   f   g  00280  750   -
688  b  35.00   3.375  u  g   c   h  8.29  f  f    0   t   g  00000    0   -

[689 rows x 16 columns]

In [12]:
df.head()

  A0     A1     A2 A3 A4 A5 A6    A7 A8 A9  A10 A11 A12    A13  A14 A15
0  a  58.67  4.460  u  g  q  h  3.04  t  t    6   f   g  00043  560   +
1  a  24.50  0.500  u  g  q  h  1.50  t  f    0   f   g  00280  824   +
2  b  27.83  1.540  u  g  w  v  3.75  t  t    5   t   g  00100    3   +
3  b  20.17  5.625  u  g  w  v  1.71  t  f    0   f   s  00120    0   +
4  b  32.08  4.000  u  g  m  v  2.50  t  f    0   t   g  00360    0   +

In [13]:
df["A0"].unique()

array(['a', 'b', '?'], dtype=object)

In [14]:
df["A0"].unique()

array(['a', 'b', '?'], dtype=object)

In [15]:
# Replacing ? with the most common one

temp = df[df["A0"] == "?"]
len(temp)

12

In [16]:
df["A0"] = df["A0"].str.replace("?","b",regex = False)

In [17]:
df["A0"]

0      a
1      a
2      b
3      b
4      b
      ..
684    b
685    a
686    a
687    b
688    b
Name: A0, Length: 689, dtype: object

In [18]:
df[["A0_a","A0_b"]] = pd.get_dummies(df["A0"], prefix='A0')

In [19]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A0_a,A0_b
0,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+,1,0
1,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+,1,0
2,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+,0,1
3,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+,0,1
4,b,32.08,4.000,u,g,m,v,2.50,t,f,0,t,g,00360,0,+,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,00260,0,-,0,1
685,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,00200,394,-,1,0
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,00200,1,-,1,0
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,00280,750,-,0,1
688,b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,00000,0,-,0,1

In [20]:
df["A1"].unique()

array(['58.67', '24.50', '27.83', '20.17', '32.08', '33.17', '22.92',
       '54.42', '42.50', '22.08', '29.92', '38.25', '48.08', '45.83',
       '36.67', '28.25', '23.25', '21.83', '19.17', '25.00', '47.75',
       '27.42', '41.17', '15.83', '47.00', '56.58', '57.42', '42.08',
       '29.25', '42.00', '49.50', '36.75', '22.58', '27.25', '23.00',
       '27.75', '54.58', '34.17', '28.92', '29.67', '39.58', '56.42',
       '54.33', '41.00', '31.92', '41.50', '23.92', '25.75', '26.00',
       '37.42', '34.92', '34.25', '23.33', '23.17', '44.33', '35.17',
       '43.25', '56.75', '31.67', '23.42', '20.42', '26.67', '36.00',
       '25.50', '19.42', '32.33', '34.83', '38.58', '44.25', '44.83',
       '20.67', '34.08', '21.67', '21.50', '49.58', '27.67', '39.83', '?',
       '37.17', '25.67', '34.00', '49.00', '62.50', '31.42', '52.33',
       '28.75', '28.58', '22.50', '28.50', '37.50', '35.25', '18.67',
       '54.83', '40.92', '19.75', '29.17', '24.58', '33.75', '25.42',
       '37.75', '52.50', '57.83', '20.75', '39.92', '24.75', '44.17',
       '23.50', '47.67', '22.75', '34.42', '28.42', '67.75', '47.42',
       '36.25', '32.67', '48.58', '33.58', '18.83', '26.92', '31.25',
       '56.50', '43.00', '22.33', '32.83', '40.33', '30.50', '52.83',
       '46.67', '58.33', '37.33', '23.08', '32.75', '68.67', '28.00',
       '44.00', '25.08', '32.00', '60.58', '40.83', '19.33', '41.33',
       '56.00', '49.83', '22.67', '27.00', '26.08', '18.42', '21.25',
       '57.08', '22.42', '48.75', '40.00', '40.58', '28.67', '33.08',
       '21.33', '41.75', '34.50', '48.17', '27.58', '24.08', '24.83',
       '36.33', '35.42', '71.58', '39.50', '39.33', '24.33', '60.08',
       '55.92', '53.92', '18.92', '50.08', '65.42', '17.58', '18.08',
       '19.67', '25.17', '33.50', '58.42', '26.17', '42.83', '38.17',
       '20.50', '48.25', '28.33', '18.75', '18.50', '45.00', '40.25',
       '41.42', '17.83', '18.17', '20.00', '52.17', '50.75', '17.08',
       '18.33', '59.67', '18.00', '37.58', '30.67', '18.58', '16.25',
       '21.17', '17.67', '16.50', '29.50', '21.75', '18.25', '35.75',
       '16.08', '69.17', '32.92', '16.33', '22.17', '57.58', '15.92',
       '31.75', '19.00', '17.50', '33.67', '30.17', '33.25', '25.25',
       '34.75', '47.33', '39.08', '42.75', '38.92', '62.75', '32.25',
       '26.75', '63.33', '30.75', '16.00', '19.50', '32.42', '30.25',
       '26.83', '16.92', '24.42', '39.42', '23.58', '21.42', '33.00',
       '26.33', '26.25', '28.17', '20.83', '43.17', '56.83', '15.17',
       '29.83', '31.00', '51.92', '69.50', '19.58', '22.25', '38.42',
       '26.58', '35.00', '29.42', '49.17', '51.83', '58.58', '53.33',
       '27.17', '25.92', '30.58', '17.25', '27.33', '36.50', '29.75',
       '52.42', '36.17', '34.58', '21.92', '36.58', '31.08', '30.42',
       '21.08', '17.42', '39.17', '26.50', '17.33', '23.75', '34.67',
       '74.83', '45.33', '47.25', '24.17', '39.25', '39.00', '64.08',
       '31.33', '21.00', '13.75', '46.00', '20.25', '60.92', '30.00',
       '22.83', '45.17', '41.58', '55.75', '25.33', '31.83', '33.92',
       '24.92', '80.25', '30.08', '48.33', '76.75', '51.33', '41.92',
       '29.58', '32.17', '51.42', '42.17', '43.08', '59.50', '65.17',
       '20.33', '48.50', '28.08', '73.42', '51.58', '38.67', '46.08',
       '20.08', '42.25', '16.17', '47.83', '22.00', '38.33', '25.58',
       '21.58', '36.08', '38.75', '35.58', '31.58', '15.75', '17.92',
       '30.33', '47.17', '25.83', '50.25', '36.42'], dtype=object)

In [21]:
temp = df[df["A1"] != "?"]
temp['A1'] = temp['A1'].astype(float)
temp["A1"].mean()
# len(temp)

<ipython-input-21-8f2fdf700892>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['A1'] = temp['A1'].astype(float)

31.56926144756281

In [22]:
df["A1"] = df["A1"].str.replace("?","31.56",regex = False)
df["A1"] = df["A1"].astype(float)

In [23]:
df["A1"].unique()

array([58.67, 24.5 , 27.83, 20.17, 32.08, 33.17, 22.92, 54.42, 42.5 ,
       22.08, 29.92, 38.25, 48.08, 45.83, 36.67, 28.25, 23.25, 21.83,
       19.17, 25.  , 47.75, 27.42, 41.17, 15.83, 47.  , 56.58, 57.42,
       42.08, 29.25, 42.  , 49.5 , 36.75, 22.58, 27.25, 23.  , 27.75,
       54.58, 34.17, 28.92, 29.67, 39.58, 56.42, 54.33, 41.  , 31.92,
       41.5 , 23.92, 25.75, 26.  , 37.42, 34.92, 34.25, 23.33, 23.17,
       44.33, 35.17, 43.25, 56.75, 31.67, 23.42, 20.42, 26.67, 36.  ,
       25.5 , 19.42, 32.33, 34.83, 38.58, 44.25, 44.83, 20.67, 34.08,
       21.67, 21.5 , 49.58, 27.67, 39.83, 31.56, 37.17, 25.67, 34.  ,
       49.  , 62.5 , 31.42, 52.33, 28.75, 28.58, 22.5 , 28.5 , 37.5 ,
       35.25, 18.67, 54.83, 40.92, 19.75, 29.17, 24.58, 33.75, 25.42,
       37.75, 52.5 , 57.83, 20.75, 39.92, 24.75, 44.17, 23.5 , 47.67,
       22.75, 34.42, 28.42, 67.75, 47.42, 36.25, 32.67, 48.58, 33.58,
       18.83, 26.92, 31.25, 56.5 , 43.  , 22.33, 32.83, 40.33, 30.5 ,
       52.83, 46.67, 58.33, 37.33, 23.08, 32.75, 68.67, 28.  , 44.  ,
       25.08, 32.  , 60.58, 40.83, 19.33, 41.33, 56.  , 49.83, 22.67,
       27.  , 26.08, 18.42, 21.25, 57.08, 22.42, 48.75, 40.  , 40.58,
       28.67, 33.08, 21.33, 41.75, 34.5 , 48.17, 27.58, 24.08, 24.83,
       36.33, 35.42, 71.58, 39.5 , 39.33, 24.33, 60.08, 55.92, 53.92,
       18.92, 50.08, 65.42, 17.58, 18.08, 19.67, 25.17, 33.5 , 58.42,
       26.17, 42.83, 38.17, 20.5 , 48.25, 28.33, 18.75, 18.5 , 45.  ,
       40.25, 41.42, 17.83, 18.17, 20.  , 52.17, 50.75, 17.08, 18.33,
       59.67, 18.  , 37.58, 30.67, 18.58, 16.25, 21.17, 17.67, 16.5 ,
       29.5 , 21.75, 18.25, 35.75, 16.08, 69.17, 32.92, 16.33, 22.17,
       57.58, 15.92, 31.75, 19.  , 17.5 , 33.67, 30.17, 33.25, 25.25,
       34.75, 47.33, 39.08, 42.75, 38.92, 62.75, 32.25, 26.75, 63.33,
       30.75, 16.  , 19.5 , 32.42, 30.25, 26.83, 16.92, 24.42, 39.42,
       23.58, 21.42, 33.  , 26.33, 26.25, 28.17, 20.83, 43.17, 56.83,
       15.17, 29.83, 31.  , 51.92, 69.5 , 19.58, 22.25, 38.42, 26.58,
       35.  , 29.42, 49.17, 51.83, 58.58, 53.33, 27.17, 25.92, 30.58,
       17.25, 27.33, 36.5 , 29.75, 52.42, 36.17, 34.58, 21.92, 36.58,
       31.08, 30.42, 21.08, 17.42, 39.17, 26.5 , 17.33, 23.75, 34.67,
       74.83, 45.33, 47.25, 24.17, 39.25, 39.  , 64.08, 31.33, 21.  ,
       13.75, 46.  , 20.25, 60.92, 30.  , 22.83, 45.17, 41.58, 55.75,
       25.33, 31.83, 33.92, 24.92, 80.25, 30.08, 48.33, 76.75, 51.33,
       41.92, 29.58, 32.17, 51.42, 42.17, 43.08, 59.5 , 65.17, 20.33,
       48.5 , 28.08, 73.42, 51.58, 38.67, 46.08, 20.08, 42.25, 16.17,
       47.83, 22.  , 38.33, 25.58, 21.58, 36.08, 38.75, 35.58, 31.58,
       15.75, 17.92, 30.33, 47.17, 25.83, 50.25, 36.42])

In [24]:
df['A1'].mean()

31.56910014513792

In [25]:
df.mean()

A1        31.569100
A2         4.765631
A7         2.224819
A10        2.402032
A14     1018.862119
A0_a       0.304790
A0_b       0.695210
dtype: float64

In [26]:
df["A2"].unique()

array([ 4.46 ,  0.5  ,  1.54 ,  5.625,  4.   ,  1.04 , 11.585,  4.915,
        0.83 ,  1.835,  6.   ,  6.04 , 10.5  ,  4.415,  0.875,  5.875,
        0.25 ,  8.585, 11.25 ,  1.   ,  8.   , 14.5  ,  6.5  ,  0.585,
       13.   , 18.5  ,  8.5  , 14.79 ,  9.79 ,  7.585,  5.125, 10.75 ,
        1.5  ,  1.585, 11.75 ,  9.415,  9.17 , 15.   ,  1.415, 13.915,
       28.   ,  6.75 ,  2.04 ,  0.665,  2.5  ,  3.   , 11.625,  0.   ,
        4.5  , 12.25 , 16.165,  0.79 ,  0.835,  4.25 ,  0.375, 25.125,
        7.5  ,  5.   ,  7.   ,  5.29 ,  1.165,  9.75 , 19.   ,  3.5  ,
        0.625,  2.21 , 12.75 , 15.5  ,  1.375,  3.54 , 11.   ,  1.75 ,
       16.5  , 12.   ,  2.25 ,  0.75 , 12.5  ,  1.25 ,  1.125,  7.04 ,
       10.335,  6.21 ,  6.665,  9.   ,  5.5  ,  0.54 ,  2.75 ,  9.5  ,
       13.5  ,  3.75 , 16.   ,  0.29 ,  1.665,  7.54 ,  0.46 , 10.   ,
       11.5  ,  3.04 ,  2.   ,  0.08 ,  1.71 ,  3.25 ,  2.54 , 13.585,
        8.665,  9.25 ,  8.17 ,  2.335, 19.5  ,  5.665,  4.625,  0.205,
        0.96 ,  4.04 ,  5.04 ,  3.165,  7.625, 10.04 , 10.25 ,  2.125,
        9.335,  6.625,  2.71 ,  9.625, 12.54 ,  9.54 ,  8.46 , 13.75 ,
       21.   , 10.125, 25.085,  0.21 , 21.5  , 11.125, 11.045,  1.335,
        0.085,  1.21 ,  0.165,  5.71 ,  5.415, 12.625,  0.58 ,  0.415,
        2.415,  0.335,  3.125, 12.125,  2.875, 13.665, 26.335, 10.29 ,
        1.29 , 22.   ,  0.125,  1.085,  4.085,  4.71 ,  6.165,  4.585,
       11.46 , 14.585,  0.17 ,  1.625,  2.085,  5.085,  8.125,  2.835,
        1.79 ,  0.705,  2.165,  2.29 , 18.125,  3.085, 11.665,  4.125,
        1.08 , 13.335, 11.835,  4.79 ,  9.96 ,  7.08 , 25.21 ,  0.67 ,
        3.79 , 22.29 ,  3.335,  0.42 ,  1.46 ,  0.04 , 12.33 , 12.335,
        0.915, 14.   , 17.75 , 20.   ,  5.25 ,  4.165, 10.915,  4.75 ,
       10.415,  7.835,  0.71 ,  2.46 ,  9.585,  3.625,  2.665,  5.835,
       12.835, 10.665,  7.25 , 10.21 ,  3.29 , 10.085,  3.375])

In [27]:
df["A3"].unique()

array(['u', 'y', '?', 'l'], dtype=object)

In [28]:
temp = df[df["A3"] == "?"]
len(temp)

6

In [29]:
temp = df[df["A3"] == "u"]
len(temp)

518

In [30]:
temp = df[df["A3"] == "y"]
len(temp)

163

In [31]:
temp = df[df["A3"] == "l"]
len(temp)

2

In [32]:
df["A3"] = df["A3"].str.replace("?","u",regex = False)

In [33]:
df["A3"].unique()

array(['u', 'y', 'l'], dtype=object)

In [34]:
df[["A3_u","A3_y", "A3-l"]] = pd.get_dummies(df["A3"], prefix='A3')

In [35]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A11,A12,A13,A14,A15,A0_a,A0_b,A3_u,A3_y,A3-l
0,a,58.67,4.460,u,g,q,h,3.04,t,t,...,f,g,00043,560,+,1,0,0,1,0
1,a,24.50,0.500,u,g,q,h,1.50,t,f,...,f,g,00280,824,+,1,0,0,1,0
2,b,27.83,1.540,u,g,w,v,3.75,t,t,...,t,g,00100,3,+,0,1,0,1,0
3,b,20.17,5.625,u,g,w,v,1.71,t,f,...,f,s,00120,0,+,0,1,0,1,0
4,b,32.08,4.000,u,g,m,v,2.50,t,f,...,t,g,00360,0,+,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,...,f,g,00260,0,-,0,1,0,0,1
685,a,22.67,0.750,u,g,c,v,2.00,f,t,...,t,g,00200,394,-,1,0,0,1,0
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,...,t,g,00200,1,-,1,0,0,0,1
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,...,f,g,00280,750,-,0,1,0,1,0
688,b,35.00,3.375,u,g,c,h,8.29,f,f,...,t,g,00000,0,-,0,1,0,1,0

In [36]:
df["A4"].unique()

array(['g', 'p', '?', 'gg'], dtype=object)

In [37]:
temp = df[df["A4"] == "g"]
len(temp)

518

In [38]:
temp = df[df["A4"] == "p"]
len(temp)

163

In [39]:
temp = df[df["A4"] == "?"]
len(temp)

6

In [40]:
temp = df[df["A4"] == "gg"]
len(temp)

2

In [41]:
df["A4"] = df["A4"].str.replace("?","g",regex = False)

In [42]:
df["A4"].unique()

array(['g', 'p', 'gg'], dtype=object)

In [43]:
df[["A4_g","A4_p", "A4-gg"]] = pd.get_dummies(df["A4"], prefix='A4')

In [44]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A14,A15,A0_a,A0_b,A3_u,A3_y,A3-l,A4_g,A4_p,A4-gg
0,a,58.67,4.460,u,g,q,h,3.04,t,t,...,560,+,1,0,0,1,0,1,0,0
1,a,24.50,0.500,u,g,q,h,1.50,t,f,...,824,+,1,0,0,1,0,1,0,0
2,b,27.83,1.540,u,g,w,v,3.75,t,t,...,3,+,0,1,0,1,0,1,0,0
3,b,20.17,5.625,u,g,w,v,1.71,t,f,...,0,+,0,1,0,1,0,1,0,0
4,b,32.08,4.000,u,g,m,v,2.50,t,f,...,0,+,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,...,0,-,0,1,0,0,1,0,0,1
685,a,22.67,0.750,u,g,c,v,2.00,f,t,...,394,-,1,0,0,1,0,1,0,0
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,...,1,-,1,0,0,0,1,0,0,1
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,...,750,-,0,1,0,1,0,1,0,0
688,b,35.00,3.375,u,g,c,h,8.29,f,f,...,0,-,0,1,0,1,0,1,0,0

In [45]:
df["A5"].unique()

array(['q', 'w', 'm', 'r', 'cc', 'k', 'c', 'd', 'x', 'i', 'e', 'aa', 'ff',
       'j', '?'], dtype=object)

In [46]:
temp = df[df["A5"] == "c"]
len(temp)

137

In [47]:
df["A5"] = df["A5"].str.replace("?","c",regex = False)

In [48]:
b = df["A5"].unique()
A5_columns = [ "A5_"+ str(i) for i in b ]

In [49]:
df[A5_columns] = pd.get_dummies(df["A5"], prefix='A5')

In [50]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A5_cc,A5_k,A5_c,A5_d,A5_x,A5_i,A5_e,A5_aa,A5_ff,A5_j
0,a,58.67,4.460,u,g,q,h,3.04,t,t,...,0,0,0,0,0,0,1,0,0,0
1,a,24.50,0.500,u,g,q,h,1.50,t,f,...,0,0,0,0,0,0,1,0,0,0
2,b,27.83,1.540,u,g,w,v,3.75,t,t,...,0,0,0,0,0,0,0,0,1,0
3,b,20.17,5.625,u,g,w,v,1.71,t,f,...,0,0,0,0,0,0,0,0,1,0
4,b,32.08,4.000,u,g,m,v,2.50,t,f,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,...,1,0,0,0,0,0,0,0,0,0
685,a,22.67,0.750,u,g,c,v,2.00,f,t,...,0,0,0,0,0,0,0,0,0,0
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,...,0,1,0,0,0,0,0,0,0,0
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,...,0,0,0,0,0,0,0,0,0,0
688,b,35.00,3.375,u,g,c,h,8.29,f,f,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df["A6"].unique()

array(['h', 'v', 'bb', 'ff', 'j', 'z', '?', 'o', 'dd', 'n'], dtype=object)

In [52]:
temp = df[df["A6"] == "v"]
len(temp)

398

In [53]:
df["A6"] = df["A6"].str.replace("?","v",regex = False)

In [54]:
b = df["A6"].unique()
A6_columns = [ "A6_"+ str(i) for i in b ]

In [55]:
df[A6_columns] = pd.get_dummies(df["A6"], prefix='A6')

In [56]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A5_j,A6_h,A6_v,A6_bb,A6_ff,A6_j,A6_z,A6_o,A6_dd,A6_n
0,a,58.67,4.460,u,g,q,h,3.04,t,t,...,0,0,0,0,1,0,0,0,0,0
1,a,24.50,0.500,u,g,q,h,1.50,t,f,...,0,0,0,0,1,0,0,0,0,0
2,b,27.83,1.540,u,g,w,v,3.75,t,t,...,0,0,0,0,0,0,0,0,1,0
3,b,20.17,5.625,u,g,w,v,1.71,t,f,...,0,0,0,0,0,0,0,0,1,0
4,b,32.08,4.000,u,g,m,v,2.50,t,f,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,...,0,0,0,0,1,0,0,0,0,0
685,a,22.67,0.750,u,g,c,v,2.00,f,t,...,0,0,0,0,0,0,0,0,1,0
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,...,0,0,0,1,0,0,0,0,0,0
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,...,0,0,0,0,0,0,0,0,1,0
688,b,35.00,3.375,u,g,c,h,8.29,f,f,...,0,0,0,0,1,0,0,0,0,0

In [57]:
df["A7"].unique()

array([ 3.04 ,  1.5  ,  3.75 ,  1.71 ,  2.5  ,  6.5  ,  0.04 ,  3.96 ,
        3.165,  2.165,  4.335,  1.   ,  5.   ,  0.25 ,  0.96 ,  3.17 ,
        0.665,  0.75 ,  0.835,  7.875,  3.085,  0.5  ,  5.165, 15.   ,
        7.   ,  5.04 ,  7.96 ,  7.585,  0.415,  2.   ,  1.835, 14.415,
        4.5  ,  5.335,  8.625, 28.5  ,  2.625,  0.125,  6.04 ,  3.5  ,
        0.165,  0.875,  1.75 ,  0.   ,  7.415,  0.085,  5.75 ,  6.   ,
        1.25 ,  3.   ,  1.585,  4.29 ,  1.54 ,  1.46 ,  1.625, 12.5  ,
       13.5  , 10.75 ,  0.375,  0.585,  0.455,  4.   ,  8.5  ,  9.46 ,
        2.25 , 10.   ,  0.795,  1.375,  1.29 , 11.5  ,  6.29 , 14.   ,
        0.335,  1.21 ,  7.375,  7.5  ,  3.25 , 13.   ,  5.5  ,  4.25 ,
        0.625,  5.085,  2.75 ,  2.375,  8.   ,  1.085,  2.54 ,  4.165,
        1.665, 11.   ,  9.   ,  1.335,  1.415,  1.96 ,  2.585,  5.125,
       15.5  ,  0.71 ,  5.665, 18.   ,  5.25 ,  8.665,  2.29 , 20.   ,
        2.46 , 13.875,  2.085,  4.58 ,  2.71 ,  2.04 ,  0.29 ,  4.75 ,
        0.46 ,  0.21 ,  0.54 ,  3.335,  2.335,  1.165,  2.415,  2.79 ,
        4.625,  1.04 ,  6.75 ,  1.875, 16.   , 12.75 ,  5.375,  2.125,
       17.5  ,  3.125,  0.79 ,  8.29 ])

In [58]:
df.mean()

A1         31.569100
A2          4.765631
A7          2.224819
A10         2.402032
A14      1018.862119
A0_a        0.304790
A0_b        0.695210
A3_u        0.002903
A3_y        0.760522
A3-l        0.236575
A4_g        0.760522
A4_p        0.002903
A4-gg       0.236575
A5_q        0.078374
A5_w        0.211901
A5_m        0.059507
A5_r        0.043541
A5_cc       0.036284
A5_k        0.076923
A5_c        0.085631
A5_d        0.014514
A5_x        0.074020
A5_i        0.055152
A5_e        0.113208
A5_aa       0.004354
A5_ff       0.091437
A5_j        0.055152
A6_h        0.085631
A6_v        0.008708
A6_bb       0.082729
A6_ff       0.200290
A6_j        0.011611
A6_z        0.005806
A6_o        0.002903
A6_dd       0.590711
A6_n        0.011611
dtype: float64

In [59]:
df["A8"].unique()

array(['t', 'f'], dtype=object)

In [60]:
df[["A8_t","A8_f"]] = pd.get_dummies(df["A8"], prefix='A8')

In [61]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A6_v,A6_bb,A6_ff,A6_j,A6_z,A6_o,A6_dd,A6_n,A8_t,A8_f
0,a,58.67,4.460,u,g,q,h,3.04,t,t,...,0,0,1,0,0,0,0,0,0,1
1,a,24.50,0.500,u,g,q,h,1.50,t,f,...,0,0,1,0,0,0,0,0,0,1
2,b,27.83,1.540,u,g,w,v,3.75,t,t,...,0,0,0,0,0,0,1,0,0,1
3,b,20.17,5.625,u,g,w,v,1.71,t,f,...,0,0,0,0,0,0,1,0,0,1
4,b,32.08,4.000,u,g,m,v,2.50,t,f,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,...,0,0,1,0,0,0,0,0,1,0
685,a,22.67,0.750,u,g,c,v,2.00,f,t,...,0,0,0,0,0,0,1,0,1,0
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,...,0,1,0,0,0,0,0,0,1,0
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,...,0,0,0,0,0,0,1,0,1,0
688,b,35.00,3.375,u,g,c,h,8.29,f,f,...,0,0,1,0,0,0,0,0,1,0

In [62]:
df["A9"].unique()

array(['t', 'f'], dtype=object)

In [63]:
df[["A9_t","A9_f"]] = pd.get_dummies(df["A9"], prefix='A9')

In [64]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A6_ff,A6_j,A6_z,A6_o,A6_dd,A6_n,A8_t,A8_f,A9_t,A9_f
0,a,58.67,4.460,u,g,q,h,3.04,t,t,...,1,0,0,0,0,0,0,1,0,1
1,a,24.50,0.500,u,g,q,h,1.50,t,f,...,1,0,0,0,0,0,0,1,1,0
2,b,27.83,1.540,u,g,w,v,3.75,t,t,...,0,0,0,0,1,0,0,1,0,1
3,b,20.17,5.625,u,g,w,v,1.71,t,f,...,0,0,0,0,1,0,0,1,1,0
4,b,32.08,4.000,u,g,m,v,2.50,t,f,...,0,0,0,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,...,1,0,0,0,0,0,1,0,1,0
685,a,22.67,0.750,u,g,c,v,2.00,f,t,...,0,0,0,0,1,0,1,0,0,1
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,...,0,0,0,0,0,0,1,0,0,1
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,...,0,0,0,0,1,0,1,0,1,0
688,b,35.00,3.375,u,g,c,h,8.29,f,f,...,1,0,0,0,0,0,1,0,1,0

In [65]:
df["A11"].unique()

array(['f', 't'], dtype=object)

In [66]:
df[["A11_f","A11_t"]] = pd.get_dummies(df["A11"], prefix='A11')

In [67]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A6_z,A6_o,A6_dd,A6_n,A8_t,A8_f,A9_t,A9_f,A11_f,A11_t
0,a,58.67,4.460,u,g,q,h,3.04,t,t,...,0,0,0,0,0,1,0,1,1,0
1,a,24.50,0.500,u,g,q,h,1.50,t,f,...,0,0,0,0,0,1,1,0,1,0
2,b,27.83,1.540,u,g,w,v,3.75,t,t,...,0,0,1,0,0,1,0,1,0,1
3,b,20.17,5.625,u,g,w,v,1.71,t,f,...,0,0,1,0,0,1,1,0,1,0
4,b,32.08,4.000,u,g,m,v,2.50,t,f,...,0,0,1,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,...,0,0,0,0,1,0,1,0,1,0
685,a,22.67,0.750,u,g,c,v,2.00,f,t,...,0,0,1,0,1,0,0,1,0,1
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,...,0,0,0,0,1,0,0,1,0,1
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,...,0,0,1,0,1,0,1,0,1,0
688,b,35.00,3.375,u,g,c,h,8.29,f,f,...,0,0,0,0,1,0,1,0,0,1

In [68]:
df["A12"].unique()

array(['g', 's', 'p'], dtype=object)

In [69]:
df[["A12_g","A12_s", "A12_p"]] = pd.get_dummies(df["A12"], prefix='A12')

In [70]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A6_n,A8_t,A8_f,A9_t,A9_f,A11_f,A11_t,A12_g,A12_s,A12_p
0,a,58.67,4.460,u,g,q,h,3.04,t,t,...,0,0,1,0,1,1,0,1,0,0
1,a,24.50,0.500,u,g,q,h,1.50,t,f,...,0,0,1,1,0,1,0,1,0,0
2,b,27.83,1.540,u,g,w,v,3.75,t,t,...,0,0,1,0,1,0,1,1,0,0
3,b,20.17,5.625,u,g,w,v,1.71,t,f,...,0,0,1,1,0,1,0,0,0,1
4,b,32.08,4.000,u,g,m,v,2.50,t,f,...,0,0,1,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,...,0,1,0,1,0,1,0,1,0,0
685,a,22.67,0.750,u,g,c,v,2.00,f,t,...,0,1,0,0,1,0,1,1,0,0
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,...,0,1,0,0,1,0,1,1,0,0
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,...,0,1,0,1,0,1,0,1,0,0
688,b,35.00,3.375,u,g,c,h,8.29,f,f,...,0,1,0,1,0,0,1,1,0,0

In [71]:
df["A13"].unique()

array(['00043', '00280', '00100', '00120', '00360', '00164', '00080',
       '00180', '00052', '00128', '00260', '00000', '00320', '00396',
       '00096', '00200', '00300', '00145', '00500', '00168', '00434',
       '00583', '00030', '00240', '00070', '00455', '00311', '00216',
       '00491', '00400', '00239', '00160', '00711', '00250', '00520',
       '00515', '00420', '?', '00980', '00443', '00140', '00094', '00368',
       '00288', '00928', '00188', '00112', '00171', '00268', '00167',
       '00075', '00152', '00176', '00329', '00212', '00410', '00274',
       '00375', '00408', '00350', '00204', '00040', '00181', '00399',
       '00440', '00093', '00060', '00395', '00393', '00021', '00029',
       '00102', '00431', '00370', '00024', '00020', '00129', '00510',
       '00195', '00144', '00380', '00049', '00050', '00381', '00150',
       '00117', '00056', '00211', '00230', '00156', '00022', '00228',
       '00519', '00253', '00487', '00220', '00088', '00073', '00121',
       '00470', '00136', '00132', '00292', '00154', '00272', '00340',
       '00108', '00720', '00450', '00232', '00170', '01160', '00411',
       '00460', '00348', '00480', '00640', '00372', '00276', '00221',
       '00352', '00141', '00178', '00600', '00550', '02000', '00225',
       '00210', '00110', '00356', '00045', '00062', '00092', '00174',
       '00017', '00086', '00454', '00254', '00028', '00263', '00333',
       '00312', '00290', '00371', '00099', '00252', '00760', '00560',
       '00130', '00523', '00680', '00163', '00208', '00383', '00330',
       '00422', '00840', '00432', '00032', '00186', '00303', '00349',
       '00224', '00369', '00076', '00231', '00309', '00416', '00465',
       '00256'], dtype=object)

In [72]:
df["A13"] = df["A13"].str.replace("?","00000",regex = False)

In [73]:
df["A13"] = df["A13"].astype(float)

In [74]:
df["A13"]

0       43.0
1      280.0
2      100.0
3      120.0
4      360.0
       ...
684    260.0
685    200.0
686    200.0
687    280.0
688      0.0
Name: A13, Length: 689, dtype: float64

In [75]:
df["A14"].unique()

array([   560,    824,      3,      0,  31285,   1349,    314,   1442,
          200,   2690,    245,   1208,   1260,     11,  10000,   5000,
         4000,     35,    713,    551,    500,    300,    221,   2283,
          100,     15,    284,   1236,   5800,    730,    400,  50000,
          456,  15108,   2954,      2,     20,     27,    225,      1,
           38,      5,    130,    147,    210,  11202,   1332,     50,
          258,    567,   1000,   2510,    809,    610,    150,  51100,
          367,    600,    247,    375,    278,    827,   2072,    582,
         2300,   3065,   2200,      6,   1602,   2184,   3376,   2000,
         7544,  10561,    837,  11177,    639,   2028,   1065,    540,
          158,  15000,   3000,   3257,   1655,   1430,      7,    790,
          396,    678,   1187,   6590,    168,   1270,   1210,    742,
         8851,   7059,   1704,    857,   6700,   2503,   9800,    196,
           14,  26726,  18027,     99,    444,   1200,   2010,     13,
          120,     32,    722,     40,    484,    204,     98,   5552,
          105,   2803,    126,      4,     21,    173,     10,     25,
           42, 100000,    113,      8,     44,   2732,    179,     16,
         1062,    251,    228,     67,     12,    122,   4208,   1300,
          112,   1110,   1004,    286,   4500,   1212,    195,     87,
           17,    184,    140,     18,    146,     22,     55,     70,
           60,   1058,    769,   5200,     19,    316,    350,   3552,
          687,   1950,     53,     41,     33,     80,    351,   2100,
          475,    892,   4607,   2206,   5860,     28,   1391,   2279,
          591,    960,    690,    234,    800,    990,   2197,     90,
          340,    347,    327,   4071,    109,   1249,    134,   1344,
          321,    948,   2079,   2384,    458,   5298,    162,   1583,
           58,     59,   1400,   1465,   8000,   4700,   1097,   3290,
        13212,   5777,   5124,     23,   4159,    918,    768,    283,
          108,      9,     68,    587,    141,    501,    160,    390,
          154,    117,    246,    237,    364,    537,    394,    750])

In [76]:
df["A15"].unique()

array(['+', '-'], dtype=object)

In [77]:
df["A15"] = df["A15"].str.replace("+","1",regex = False)

In [78]:
df["A15"] = df["A15"].str.replace("-","0",regex = False)

In [79]:
df["A15"].unique()

array(['1', '0'], dtype=object)

In [80]:
df["A15"] = df["A15"].astype(float)

In [81]:
df

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A6_n,A8_t,A8_f,A9_t,A9_f,A11_f,A11_t,A12_g,A12_s,A12_p
0,a,58.67,4.460,u,g,q,h,3.04,t,t,...,0,0,1,0,1,1,0,1,0,0
1,a,24.50,0.500,u,g,q,h,1.50,t,f,...,0,0,1,1,0,1,0,1,0,0
2,b,27.83,1.540,u,g,w,v,3.75,t,t,...,0,0,1,0,1,0,1,1,0,0
3,b,20.17,5.625,u,g,w,v,1.71,t,f,...,0,0,1,1,0,1,0,0,0,1
4,b,32.08,4.000,u,g,m,v,2.50,t,f,...,0,0,1,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,b,21.08,10.085,y,p,e,h,1.25,f,f,...,0,1,0,1,0,1,0,1,0,0
685,a,22.67,0.750,u,g,c,v,2.00,f,t,...,0,1,0,0,1,0,1,1,0,0
686,a,25.25,13.500,y,p,ff,ff,2.00,f,t,...,0,1,0,0,1,0,1,1,0,0
687,b,17.92,0.205,u,g,aa,v,0.04,f,f,...,0,1,0,1,0,1,0,1,0,0
688,b,35.00,3.375,u,g,c,h,8.29,f,f,...,0,1,0,1,0,0,1,1,0,0

In [82]:
df = df.drop('A0', 1)

In [83]:
df

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A6_n,A8_t,A8_f,A9_t,A9_f,A11_f,A11_t,A12_g,A12_s,A12_p
0,58.67,4.460,u,g,q,h,3.04,t,t,6,...,0,0,1,0,1,1,0,1,0,0
1,24.50,0.500,u,g,q,h,1.50,t,f,0,...,0,0,1,1,0,1,0,1,0,0
2,27.83,1.540,u,g,w,v,3.75,t,t,5,...,0,0,1,0,1,0,1,1,0,0
3,20.17,5.625,u,g,w,v,1.71,t,f,0,...,0,0,1,1,0,1,0,0,0,1
4,32.08,4.000,u,g,m,v,2.50,t,f,0,...,0,0,1,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,21.08,10.085,y,p,e,h,1.25,f,f,0,...,0,1,0,1,0,1,0,1,0,0
685,22.67,0.750,u,g,c,v,2.00,f,t,2,...,0,1,0,0,1,0,1,1,0,0
686,25.25,13.500,y,p,ff,ff,2.00,f,t,1,...,0,1,0,0,1,0,1,1,0,0
687,17.92,0.205,u,g,aa,v,0.04,f,f,0,...,0,1,0,1,0,1,0,1,0,0
688,35.00,3.375,u,g,c,h,8.29,f,f,0,...,0,1,0,1,0,0,1,1,0,0

In [84]:
df = df.drop('A3', 1)

In [85]:
df

,A1,A2,A4,A5,A6,A7,A8,A9,A10,A11,...,A6_n,A8_t,A8_f,A9_t,A9_f,A11_f,A11_t,A12_g,A12_s,A12_p
0,58.67,4.460,g,q,h,3.04,t,t,6,f,...,0,0,1,0,1,1,0,1,0,0
1,24.50,0.500,g,q,h,1.50,t,f,0,f,...,0,0,1,1,0,1,0,1,0,0
2,27.83,1.540,g,w,v,3.75,t,t,5,t,...,0,0,1,0,1,0,1,1,0,0
3,20.17,5.625,g,w,v,1.71,t,f,0,f,...,0,0,1,1,0,1,0,0,0,1
4,32.08,4.000,g,m,v,2.50,t,f,0,t,...,0,0,1,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,21.08,10.085,p,e,h,1.25,f,f,0,f,...,0,1,0,1,0,1,0,1,0,0
685,22.67,0.750,g,c,v,2.00,f,t,2,t,...,0,1,0,0,1,0,1,1,0,0
686,25.25,13.500,p,ff,ff,2.00,f,t,1,t,...,0,1,0,0,1,0,1,1,0,0
687,17.92,0.205,g,aa,v,0.04,f,f,0,f,...,0,1,0,1,0,1,0,1,0,0
688,35.00,3.375,g,c,h,8.29,f,f,0,t,...,0,1,0,1,0,0,1,1,0,0

In [86]:
df = df.drop(['A4', 'A5'], 1)

In [87]:
df

,A1,A2,A6,A7,A8,A9,A10,A11,A12,A13,...,A6_n,A8_t,A8_f,A9_t,A9_f,A11_f,A11_t,A12_g,A12_s,A12_p
0,58.67,4.460,h,3.04,t,t,6,f,g,43.0,...,0,0,1,0,1,1,0,1,0,0
1,24.50,0.500,h,1.50,t,f,0,f,g,280.0,...,0,0,1,1,0,1,0,1,0,0
2,27.83,1.540,v,3.75,t,t,5,t,g,100.0,...,0,0,1,0,1,0,1,1,0,0
3,20.17,5.625,v,1.71,t,f,0,f,s,120.0,...,0,0,1,1,0,1,0,0,0,1
4,32.08,4.000,v,2.50,t,f,0,t,g,360.0,...,0,0,1,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,21.08,10.085,h,1.25,f,f,0,f,g,260.0,...,0,1,0,1,0,1,0,1,0,0
685,22.67,0.750,v,2.00,f,t,2,t,g,200.0,...,0,1,0,0,1,0,1,1,0,0
686,25.25,13.500,ff,2.00,f,t,1,t,g,200.0,...,0,1,0,0,1,0,1,1,0,0
687,17.92,0.205,v,0.04,f,f,0,f,g,280.0,...,0,1,0,1,0,1,0,1,0,0
688,35.00,3.375,h,8.29,f,f,0,t,g,0.0,...,0,1,0,1,0,0,1,1,0,0

In [88]:
df = df.drop(['A6', 'A8', 'A9', 'A10', 'A11', 'A12'], 1)

In [89]:
df

,A1,A2,A7,A13,A14,A15,A0_a,A0_b,A3_u,A3_y,...,A6_n,A8_t,A8_f,A9_t,A9_f,A11_f,A11_t,A12_g,A12_s,A12_p
0,58.67,4.460,3.04,43.0,560,1.0,1,0,0,1,...,0,0,1,0,1,1,0,1,0,0
1,24.50,0.500,1.50,280.0,824,1.0,1,0,0,1,...,0,0,1,1,0,1,0,1,0,0
2,27.83,1.540,3.75,100.0,3,1.0,0,1,0,1,...,0,0,1,0,1,0,1,1,0,0
3,20.17,5.625,1.71,120.0,0,1.0,0,1,0,1,...,0,0,1,1,0,1,0,0,0,1
4,32.08,4.000,2.50,360.0,0,1.0,0,1,0,1,...,0,0,1,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,21.08,10.085,1.25,260.0,0,0.0,0,1,0,0,...,0,1,0,1,0,1,0,1,0,0
685,22.67,0.750,2.00,200.0,394,0.0,1,0,0,1,...,0,1,0,0,1,0,1,1,0,0
686,25.25,13.500,2.00,200.0,1,0.0,1,0,0,0,...,0,1,0,0,1,0,1,1,0,0
687,17.92,0.205,0.04,280.0,750,0.0,0,1,0,1,...,0,1,0,1,0,1,0,1,0,0
688,35.00,3.375,8.29,0.0,0,0.0,0,1,0,1,...,0,1,0,1,0,0,1,1,0,0

In [90]:
df.sort_index(axis=1)

,A0_a,A0_b,A1,A11_f,A11_t,A12_g,A12_p,A12_s,A13,A14,...,A6_j,A6_n,A6_o,A6_v,A6_z,A7,A8_f,A8_t,A9_f,A9_t
0,1,0,58.67,1,0,1,0,0,43.0,560,...,0,0,0,0,0,3.04,1,0,1,0
1,1,0,24.50,1,0,1,0,0,280.0,824,...,0,0,0,0,0,1.50,1,0,0,1
2,0,1,27.83,0,1,1,0,0,100.0,3,...,0,0,0,0,0,3.75,1,0,1,0
3,0,1,20.17,1,0,0,1,0,120.0,0,...,0,0,0,0,0,1.71,1,0,0,1
4,0,1,32.08,0,1,1,0,0,360.0,0,...,0,0,0,0,0,2.50,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,0,1,21.08,1,0,1,0,0,260.0,0,...,0,0,0,0,0,1.25,0,1,0,1
685,1,0,22.67,0,1,1,0,0,200.0,394,...,0,0,0,0,0,2.00,0,1,1,0
686,1,0,25.25,0,1,1,0,0,200.0,1,...,0,0,0,0,0,2.00,0,1,1,0
687,0,1,17.92,1,0,1,0,0,280.0,750,...,0,0,0,0,0,0.04,0,1,0,1
688,0,1,35.00,0,1,1,0,0,0.0,0,...,0,0,0,0,0,8.29,0,1,0,1

In [91]:
from sklearn.preprocessing import LabelEncoder

In [92]:
le = LabelEncoder()

In [93]:
for col in df:
    if df[col].dtype=='object':
        df[col]=le.fit_transform(df[col])

In [101]:
from sklearn.model_selection import train_test_split

In [102]:
df = df.values

In [115]:
df

array([[5.867e+01, 4.460e+00, 3.040e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [2.450e+01, 5.000e-01, 1.500e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [2.783e+01, 1.540e+00, 3.750e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [2.525e+01, 1.350e+01, 2.000e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [1.792e+01, 2.050e-01, 4.000e-02, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [3.500e+01, 3.375e+00, 8.290e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00]])

In [96]:
from sklearn.linear_model import LinearRegression

In [104]:
X, y = df(n_samples=100, n_features=1, noise=13, random_state=0)


plt.scatter(X,y)
plt.show()

TypeError: 'numpy.ndarray' object is not callable

In [106]:
reg = LinearRegression(fit_intercept=True)

In [107]:
reg.fit(X, y)

LinearRegression()

In [112]:
xfit = np.linspace(start=0, stop =-1)
yfit = reg.predict(xfit[:, np.newaxis])

plt.scatter(X, y)
plt.plot(xfit, yfit)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 44 is different from 1)

In [216]:
print("Slope:    ", reg.coef_[0])
print("Intercept:", reg.intercept_)

Slope:     42.68960792203164
Intercept: -1.0584363751399437

In [105]:
X,y = df[:, 1:45] , df[:, -1]

In [193]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=42)

In [ ]:
#scaling the range

In [106]:
from sklearn.preprocessing import MinMaxScaler

In [194]:
scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.fit_transform(X_test)

In [ ]:
#logistical regression

In [131]:
from sklearn.linear_model import LogisticRegression

In [109]:
logreg = LogisticRegression()

In [195]:
logreg.fit(rescaledX_train, y_train)

LogisticRegression()

------------------------------

In [117]:
from sklearn.metrics import confusion_matrix

In [133]:
y_pred = logreg.predict(rescaledX_test)

In [196]:
print("Accuracy of logisctic regression classifier: ", logreg.score(rescaledX_test, y_test))

Accuracy of logisctic regression classifier:  1.0

In [197]:
print(confusion_matrix(y_test, y_pred))

[[192   0]
 [ 15   0]]

In [201]:
from sklearn.model_selection import cross_val_score

np.mean(cross_val_score(LinearRegression(), X_train, y_train, cv=25))

0.76

In [202]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [175]:
from sklearn.model_selection import GridSearchCV

In [176]:
tol = [0.01, 0.001, 0.0001]
max_iter = [100, 150, 200]

In [177]:
param_grid = dict(tol = tol, max_iter = max_iter)

In [178]:
grid_model = GridSearchCV(estimator=logreg, param_grid= param_grid, cv=5)

In [181]:
rescaledX = scaler.fit_transform(X)

In [184]:
grid_model_result = grid_model.fit(rescaledX, y)

In [185]:
best_score, best_params = grid_model_result.best_score_, grid_model_result.best_params_

In [186]:
print("Best: %f using %s" % (grid_model_result.best_score_, grid_model_result.best_params_))

Best: 0.917275 using {'max_iter': 100, 'tol': 0.01}